.container {
  display: flex;
}

.details {
  flex: 1;
}

.movies {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie {
  flex-basis: 300px;

  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 6px;
}

.detail {
  position: sticky;
  top: 0;

  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 6px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.close-button {
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
